/** siyuan */
body {
  background-color: var(--b3-theme-background);
  color: var(--b3-theme-on-background);
}
.b3-typography,
.protyle-wysiwyg,
.protyle-title {
  font-size: 16px !important;
}
.b3-typography code:not(.hljs),
.protyle-wysiwyg span[data-type~='code'] {
  font-variant-ligatures: normal;
}
.li > .protyle-action {
  height: 34px;
  line-height: 34px;
}
.protyle-wysiwyg [data-node-id].li > .protyle-action ~ .h1,
.protyle-wysiwyg [data-node-id].li > .protyle-action ~ .h2,
.protyle-wysiwyg [data-node-id].li > .protyle-action ~ .h3,
.protyle-wysiwyg [data-node-id].li > .protyle-action ~ .h4,
.protyle-wysiwyg [data-node-id].li > .protyle-action ~ .h5,
.protyle-wysiwyg [data-node-id].li > .protyle-action ~ .h6 {
  line-height: 34px;
}
.protyle-wysiwyg [data-node-id].li > .protyle-action:after {
  height: 16px;
  width: 16px;
  margin: -8px 0 0 -8px;
}
.protyle-wysiwyg [data-node-id].li > .protyle-action svg {
  height: 14px;
}
.protyle-wysiwyg [data-node-id].li:before {
  height: calc(100% - 34px);
  top: 34px;
}
.protyle-wysiwyg [data-node-id] [spellcheck] {
  min-height: 26px;
}
.protyle-wysiwyg .li {
  min-height: 34px;
}
.protyle-gutters button svg {
  height: 26px;
}
.protyle-wysiwyg img.emoji,
.b3-typography img.emoji {
  width: 18px;
}
.protyle-wysiwyg .h1 img.emoji,
.b3-typography h1 img.emoji {
  width: 35px;
}
.protyle-wysiwyg .h2 img.emoji,
.b3-typography h2 img.emoji {
  width: 31px;
}
.protyle-wysiwyg .h3 img.emoji,
.b3-typography h3 img.emoji {
  width: 27px;
}
.protyle-wysiwyg .h4 img.emoji,
.b3-typography h4 img.emoji {
  width: 25px;
}
.protyle-wysiwyg .h5 img.emoji,
.b3-typography h5 img.emoji {
  width: 22px;
}
.protyle-wysiwyg .h6 img.emoji,
.b3-typography h6 img.emoji {
  width: 20px;
}
/** ocenapress */
body {
  margin: 0;
}
#preview {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#preview > [data-type='NodeDocument'] {
  padding: 0;
  max-width: 850px;
  flex: 1;
}

#preview > [data-type='NodeDocument'] > .protyle-background__img {
  max-width: 100%;
  width: 100vw;
  background-position: center;
  background-size: cover;
}
#oceanpress-sidebar {
  width: 50px;
}
/* 临时修复代码块错乱的问题 */
.protyle-wysiwyg div.hljs {
  display: block !important;
}

#oceanpress-left-sidebar > iframe {
  width: 100px;
  border: 0;
}
